/* A debug class, used to separate components graphically during development */
.debug {
    border-style:solid;
}
.right {
    text-align: right;
}

.image {
    display: flex;
    width: 150px;
    vertical-align: top;
    margin: 20px;
}

.searchImageTitle {
    text-align: center;
    width: 150px;
    margin-left: 20px;
}

.result {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.dishName {
    font-size: 20px;
    
}

.dishImage {
    width: 170px;
    margin-bottom: 20px;
    margin-top: 20px;
    /*använd ej verkar som?*/
    margin-right: 20px;
    
}

.price {
    margin-top: 37px;
}

.buttons {
    margin-bottom: 20px;
    margin-top: 10px;
    margin-right: 10px;
}
.textSidebar {
   vertical-align: top;
}


.tableSidebar {
     margin-top: 10px;
}
 

.buttonXSidebar {
    width: 25px;
}
.buttonPSidebar {
    width: 25px;
    margin-right: 10px;
    margin-top: 10px;
}

.buttonMSidebar {
    width: 25px;
    margin-left: 3px;
    margin-top: 10px;
}

.guestSidebar {
    margin-right: 5px;
    margin-left: 5px;
    /*verkar ej användas?*/
}

.info {
    margin-bottom: 20px;
}

.inTable {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: left;
}

.table {
    border-style:solid;
    margin-top: 20px;
    margin-bottom: 20px;
}

.searching {
    margin-top: 20px;
    margin-right: 10px;
}

.flexSidebar {
    margin: 10px;
    flex: 100;
    min-width: 100px;
    height: 100%;
    display: flex;
}

.flexMain {
    display: flex;
    flex-direction: row;
}

.mainContent {
    flex: 1;
    display: flex;
    flex-direction: row;
    margin: 2px;
    flex-wrap: wrap;
    /*verkar vara samma som flexMain?*/
}

@media (min-width:450px) and (min-device-width:450px){
    .flexParent {
        display: flex;
    }
}

.buttonContainer {
    display: flex;
    align-items: flex-start; /* Align items at the top */
    gap: 10px; /* Add some space between buttons and text */
}

.totals {
    margin-top: 30px;
}

.summary {
   display: flex;
}